DB_DRIVER=postgres
DB_SOURCE=based on docker-compose.yml -> postgresql://devuser:admin@localhost:5432/go_gin_job_search_db?sslmode=disable
SERVER_ADDRESS=for example localhost:8080
ELASTICSEARCH_ADDRESS=for example http://localhost:9200
TOKEN_SYMMETRIC_KEY=32 characters long, you can use just 12345678901234567890123456789012
ACCESS_TOKEN_DURATION=for example 20m or 24h
REDIS_ADDRESS=for example 0.0.0.0:6379
EMAIL_SENDER_ADDRESS=your gmail address